.courses {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.courses .courseTitle {
    text-align: center;
    font-size: 2.5rem;
    margin: 2.5rem 0 0.7rem 0;
    font-weight: 500;
    line-height: 1.2;
}

.courses .courseCont {
    width: 80%;
    margin: 0 100px 0 100px;
    display: flex;
    justify-content: center;
}

.courseBox {
    border: 1px solid var(--border);
    width: 33%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

@media screen and (max-width: 900px) {
    .courses .courseCont {
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .courseBox {
        width: 40%;
    }
}

@media screen and (max-width: 568px) {
    .courseBox {
        width: 60%;
    }
}

@media screen and (max-width: 490px) {
    .courseBox {
        width: 80%;
    }
}

.courseBox img {
    width: 100%;
}

.courseBox .courseBody {
    padding: 16px;
}

.courseBody h1 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.courseBody p {
    margin-top: .4rem;
    font-weight: 300;
}

.courseBox .coursePrice {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    border: none;
    border-top: 1px solid var(--border);
}

.courseBox h1 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.coursePrice a button {
    padding: 6px 12px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.coursePrice a button:hover {
    background-color: var(--greenHover);
}